@charset "UTF-8";

/*tirando todas as formatações css que vem pré-estabelecidas*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    /*no repeat- imagem não repete, top center- alinhamento pelo topo e centralizado. */
    background: url('./imagens/fundo-madeira.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}
/*formatação do conteúdo do main, altura do celular */
main {
    position: relative;
    height: 100vh;
}
/*formatação da posição do celular, posição: centralizada*/
section#telefone {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 627px;
    width: 311px;
    background: url('./imagens/frame-iphone.png') no-repeat;
}
/*formatação da tela do celular*/
iframe#tela {
    position: relative;
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
    overflow-y: hidden;
    
}
/*formatação dos icons, menu de acesso*/
.container {
    display: flex;
    flex-direction: column;
    text-align:right;
}

/*configuração do menu de acesso, icons redes sociais*/
section#redes-sociais img {
    width: 70px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px #00000066;
    box-sizing: border-box;
}
/*configuração da animação do hover, deslocamento, velocidade e sombra*/
section#redes-sociais img:hover {
    border: 2px solid #ffffffa6;
    transform: translate(-5px, -5px);
    box-shadow: 5px 5px 10px #00000066 ;
    transition: transform 0.4s, border 1s;
}

:root {
    scrollbar-width: none;
}

body::-webkit-scrollbar {
    display: none;
}
